<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>

    <h1> NekoToNeko Apps coming soon</h1>

    <p>L'application vous est proposé gracieusement par l'équipe de NekoToNeko pour partager avec vous l'amour du japon et de sa langue. <br /><br />
    N'hésitez pas à nous envoyer vos suggestions et vos remarques à l'adresse nekotoneko.apps@gmail.com</p>

    </body>
</html> 